<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CourseFeedback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdminInsertServlet</display-name>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AdminInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/AdminInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListServlet</display-name>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/AdminListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramDetailsInsertServlet</display-name>
    <servlet-name>ProgramDetailsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramDetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramDetailsInsertServlet</servlet-name>
    <url-pattern>/ProgramDetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramDetailsListServlet</display-name>
    <servlet-name>ProgramDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramDetailsListServlet</servlet-name>
    <url-pattern>/ProgramDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramDetailsDeleteServlet</display-name>
    <servlet-name>ProgramDetailsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramDetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramDetailsDeleteServlet</servlet-name>
    <url-pattern>/ProgramDetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermDetailsInsertServlet</display-name>
    <servlet-name>TermDetailsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.TermDetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermDetailsInsertServlet</servlet-name>
    <url-pattern>/TermDetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermDetailsListServlet</display-name>
    <servlet-name>TermDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.TermDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermDetailsListServlet</servlet-name>
    <url-pattern>/TermDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateProgramDetailsInsertServlet</display-name>
    <servlet-name>DateProgramDetailsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateProgramDetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateProgramDetailsInsertServlet</servlet-name>
    <url-pattern>/DateProgramDetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateProgramDetailsListServlet</display-name>
    <servlet-name>DateProgramDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateProgramDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateProgramDetailsListServlet</servlet-name>
    <url-pattern>/DateProgramDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateProgramDetailsDeleteServlet</display-name>
    <servlet-name>DateProgramDetailsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateProgramDetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateProgramDetailsDeleteServlet</servlet-name>
    <url-pattern>/DateProgramDetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateProgramDetailsEditServlet</display-name>
    <servlet-name>DateProgramDetailsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateProgramDetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateProgramDetailsEditServlet</servlet-name>
    <url-pattern>/DateProgramDetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateProgramDetailsUpdateServlet</display-name>
    <servlet-name>DateProgramDetailsUpdateServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateProgramDetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateProgramDetailsUpdateServlet</servlet-name>
    <url-pattern>/DateProgramDetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsInsertServlet</display-name>
    <servlet-name>QuestionsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.QuestionsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsInsertServlet</servlet-name>
    <url-pattern>/QuestionsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsListServlet</display-name>
    <servlet-name>QuestionsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.QuestionsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsListServlet</servlet-name>
    <url-pattern>/QuestionsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsDeleteServlet</display-name>
    <servlet-name>QuestionsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.QuestionsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsDeleteServlet</servlet-name>
    <url-pattern>/QuestionsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsEditServlet</display-name>
    <servlet-name>QuestionsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.QuestionsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsEditServlet</servlet-name>
    <url-pattern>/QuestionsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsUpdateServlet</display-name>
    <servlet-name>QuestionsUpdateServlet</servlet-name>
    <servlet-class>courseFeedback.controller.QuestionsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsUpdateServlet</servlet-name>
    <url-pattern>/QuestionsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsInsertServlet</display-name>
    <servlet-name>CourseDetailsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseDetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsInsertServlet</servlet-name>
    <url-pattern>/CourseDetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsListServlet</display-name>
    <servlet-name>CourseDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsListServlet</servlet-name>
    <url-pattern>/CourseDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsEditServlet</display-name>
    <servlet-name>CourseDetailsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseDetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsEditServlet</servlet-name>
    <url-pattern>/CourseDetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsUpdateServlet</display-name>
    <servlet-name>CourseDetailsUpdateServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseDetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsUpdateServlet</servlet-name>
    <url-pattern>/CourseDetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsDeleteServlet</display-name>
    <servlet-name>CourseDetailsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseDetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsDeleteServlet</servlet-name>
    <url-pattern>/CourseDetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseProgramDetailsInsertServlet</display-name>
    <servlet-name>CourseProgramDetailsInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseProgramDetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseProgramDetailsInsertServlet</servlet-name>
    <url-pattern>/CourseProgramDetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseProgramDetailsListServlet</display-name>
    <servlet-name>CourseProgramDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseProgramDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseProgramDetailsListServlet</servlet-name>
    <url-pattern>/CourseProgramDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseProgramDetailsEditServlet</display-name>
    <servlet-name>CourseProgramDetailsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseProgramDetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseProgramDetailsEditServlet</servlet-name>
    <url-pattern>/CourseProgramDetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseProgramDetailsDeleteServlet</display-name>
    <servlet-name>CourseProgramDetailsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseProgramDetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseProgramDetailsDeleteServlet</servlet-name>
    <url-pattern>/CourseProgramDetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseProgramDetailsUpdateServlet</display-name>
    <servlet-name>CourseProgramDetailsUpdateServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseProgramDetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseProgramDetailsUpdateServlet</servlet-name>
    <url-pattern>/CourseProgramDetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>courseFeedback.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSpecialQuestionInsertServlet</display-name>
    <servlet-name>RemoveSpecialQuestionInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.RemoveSpecialQuestionInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSpecialQuestionInsertServlet</servlet-name>
    <url-pattern>/RemoveSpecialQuestionInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSpecialQuestionListServlet</display-name>
    <servlet-name>RemoveSpecialQuestionListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.RemoveSpecialQuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSpecialQuestionListServlet</servlet-name>
    <url-pattern>/RemoveSpecialQuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSpecialQuestionDeleteServlet</display-name>
    <servlet-name>RemoveSpecialQuestionDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.RemoveSpecialQuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSpecialQuestionDeleteServlet</servlet-name>
    <url-pattern>/RemoveSpecialQuestionDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialQuestionInsertServlet</display-name>
    <servlet-name>AddSpecialQuestionInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AddSpecialQuestionInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialQuestionInsertServlet</servlet-name>
    <url-pattern>/AddSpecialQuestionInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialQuestionListServlet</display-name>
    <servlet-name>AddSpecialQuestionListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AddSpecialQuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialQuestionListServlet</servlet-name>
    <url-pattern>/AddSpecialQuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialQuestionDeleteServlet</display-name>
    <servlet-name>AddSpecialQuestionDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AddSpecialQuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialQuestionDeleteServlet</servlet-name>
    <url-pattern>/AddSpecialQuestionDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogDetailsListServlet</display-name>
    <servlet-name>LogDetailsListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.LogDetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogDetailsListServlet</servlet-name>
    <url-pattern>/LogDetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramDetailsEditServlet</display-name>
    <servlet-name>ProgramDetailsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramDetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramDetailsEditServlet</servlet-name>
    <url-pattern>/ProgramDetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramDetailsUpdateServlet</display-name>
    <servlet-name>ProgramDetailsUpdateServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramDetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramDetailsUpdateServlet</servlet-name>
    <url-pattern>/ProgramDetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackCourseSelectedServlet</display-name>
    <servlet-name>FeedbackCourseSelectedServlet</servlet-name>
    <servlet-class>courseFeedback.controller.FeedbackCourseSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackCourseSelectedServlet</servlet-name>
    <url-pattern>/FeedbackCourseSelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackCourseQuestionServlet</display-name>
    <servlet-name>FeedbackCourseQuestionServlet</servlet-name>
    <servlet-class>courseFeedback.controller.FeedbackCourseQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackCourseQuestionServlet</servlet-name>
    <url-pattern>/FeedbackCourseQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermDetailsDeleteServlet</display-name>
    <servlet-name>TermDetailsDeleteServlet</servlet-name>
    <servlet-class>courseFeedback.controller.TermDetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermDetailsDeleteServlet</servlet-name>
    <url-pattern>/TermDetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermDetailsEditServlet</display-name>
    <servlet-name>TermDetailsEditServlet</servlet-name>
    <servlet-class>courseFeedback.controller.TermDetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermDetailsEditServlet</servlet-name>
    <url-pattern>/TermDetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet2</display-name>
    <servlet-name>AjaxServlet2</servlet-name>
    <servlet-class>courseFeedback.controller.AjaxServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet2</servlet-name>
    <url-pattern>/AjaxServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackSetServlet</display-name>
    <servlet-name>FeedbackSetServlet</servlet-name>
    <servlet-class>courseFeedback.controller.FeedbackSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackSetServlet</servlet-name>
    <url-pattern>/FeedbackSetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackInsertServlet</display-name>
    <servlet-name>FeedbackInsertServlet</servlet-name>
    <servlet-class>courseFeedback.controller.FeedbackInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackInsertServlet</servlet-name>
    <url-pattern>/FeedbackInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackListServlet</display-name>
    <servlet-name>FeedbackListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.FeedbackListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackListServlet</servlet-name>
    <url-pattern>/FeedbackListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateChartServlet</display-name>
    <servlet-name>GenerateChartServlet</servlet-name>
    <servlet-class>courseFeedback.controller.GenerateChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChartServlet</servlet-name>
    <url-pattern>/GenerateChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Temp</display-name>
    <servlet-name>Temp</servlet-name>
    <servlet-class>courseFeedback.controller.Temp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/Temp</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>context location </description>
    <param-name>counter</param-name>
    <param-value>0</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>DateFeedbackCounterListServlet</display-name>
    <servlet-name>DateFeedbackCounterListServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DateFeedbackCounterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateFeedbackCounterListServlet</servlet-name>
    <url-pattern>/DateFeedbackCounterListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseQuestionAvgServlet</display-name>
    <servlet-name>CourseQuestionAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseQuestionAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseQuestionAvgServlet</servlet-name>
    <url-pattern>/CourseQuestionAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCourseAvgServlet</display-name>
    <servlet-name>AllCourseAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.AllCourseAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCourseAvgServlet</servlet-name>
    <url-pattern>/AllCourseAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UgPgAvgServlet</display-name>
    <servlet-name>UgPgAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.UgPgAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UgPgAvgServlet</servlet-name>
    <url-pattern>/UgPgAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseFeedbackServlet</display-name>
    <servlet-name>GetCourseFeedbackServlet</servlet-name>
    <servlet-class>courseFeedback.controller.GetCourseFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseFeedbackServlet</servlet-name>
    <url-pattern>/GetCourseFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenratePassword</display-name>
    <servlet-name>GenratePassword</servlet-name>
    <servlet-class>courseFeedback.controller.GenratePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenratePassword</servlet-name>
    <url-pattern>/GenratePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UgPgQuestionAvgServlet</display-name>
    <servlet-name>UgPgQuestionAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.UgPgQuestionAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UgPgQuestionAvgServlet</servlet-name>
    <url-pattern>/UgPgQuestionAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UGQuestionAvgServlet</display-name>
    <servlet-name>UGQuestionAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.UGQuestionAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGQuestionAvgServlet</servlet-name>
    <url-pattern>/UGQuestionAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PgQuestionAvgServlet</display-name>
    <servlet-name>PgQuestionAvgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.PgQuestionAvgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PgQuestionAvgServlet</servlet-name>
    <url-pattern>/PgQuestionAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseQuestionAvgTabularServlet</display-name>
    <servlet-name>CourseQuestionAvgTabularServlet</servlet-name>
    <servlet-class>courseFeedback.controller.CourseQuestionAvgTabularServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseQuestionAvgTabularServlet</servlet-name>
    <url-pattern>/CourseQuestionAvgTabularServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUGCompeleteDetailsServlet</display-name>
    <servlet-name>GetUGCompeleteDetailsServlet</servlet-name>
    <servlet-class>courseFeedback.controller.GetUGCompeleteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUGCompeleteDetailsServlet</servlet-name>
    <url-pattern>/GetUGCompeleteDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPGCompleteDetailsServlet</display-name>
    <servlet-name>GetPGCompleteDetailsServlet</servlet-name>
    <servlet-class>courseFeedback.controller.GetPGCompleteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPGCompleteDetailsServlet</servlet-name>
    <url-pattern>/GetPGCompleteDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>temp</display-name>
    <servlet-name>temp</servlet-name>
    <servlet-class>courseFeedback.controller.temp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>temp</servlet-name>
    <url-pattern>/temp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUgPgServlet</display-name>
    <servlet-name>DisplayUgPgServlet</servlet-name>
    <servlet-class>courseFeedback.controller.DisplayUgPgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUgPgServlet</servlet-name>
    <url-pattern>/DisplayUgPgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUGPGComplete</display-name>
    <servlet-name>GetUGPGComplete</servlet-name>
    <servlet-class>courseFeedback.controller.GetUGPGComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUGPGComplete</servlet-name>
    <url-pattern>/GetUGPGComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUGPGCompleteDetails</display-name>
    <servlet-name>GetUGPGCompleteDetails</servlet-name>
    <servlet-class>courseFeedback.controller.GetUGPGCompleteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUGPGCompleteDetails</servlet-name>
    <url-pattern>/GetUGPGCompleteDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet3</display-name>
    <servlet-name>AjaxServlet3</servlet-name>
    <servlet-class>courseFeedback.controller.AjaxServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet3</servlet-name>
    <url-pattern>/AjaxServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAdminPasswordServlet</display-name>
    <servlet-name>ChangeAdminPasswordServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ChangeAdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAdminPasswordServlet</servlet-name>
    <url-pattern>/ChangeAdminPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateUgPgChart</display-name>
    <servlet-name>GenerateUgPgChart</servlet-name>
    <servlet-class>courseFeedback.controller.GenerateUgPgChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateUgPgChart</servlet-name>
    <url-pattern>/GenerateUgPgChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramAvgDetailServlet</display-name>
    <servlet-name>ProgramAvgDetailServlet</servlet-name>
    <servlet-class>courseFeedback.controller.ProgramAvgDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramAvgDetailServlet</servlet-name>
    <url-pattern>/ProgramAvgDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UGSemesterAvgSelectionServlet</display-name>
    <servlet-name>UGSemesterAvgSelectionServlet</servlet-name>
    <servlet-class>courseFeedback.controller.UGSemesterAvgSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UGSemesterAvgSelectionServlet</servlet-name>
    <url-pattern>/UGSemesterAvgSelectionServlet</url-pattern>
  </servlet-mapping>
</web-app>